
*{
	font-family:arial, sans-serif;
	margin:0;

}


nav li{
	list-style-type:none;
	
	padding:5px;

}

a{
	color:#DEF2F1;
	padding:20px;
	text-decoration:none;

}


.container{
	width:100%;
}



nav{
	
	height:100%;
	float:left;
	width:30%;
	background-color:#2B7A78;
	position:fixed;
	font-size:18px;
	margin-left:0px; 
	margin-right:0px;
/*	overflow:scroll;*/
	

}

nav #newH{
	padding-bottom: 10px;
}


nav #newNav{
	margin:0px;
	padding-top:10px;
	
}



nav li:hover{
	color:lightgray;
	font-size:20px;
}


.navHeader{
	padding-top:30px;
	color:#DEF2F1;
	font-size:28px;
	text-align:center;
}

#main-doc{
	
	float:right;
	width:65%;
	padding-bottom:20px;
	background-color: #FEFFF;
	/*background-color:blue;*/
	color:gray;
	

}

section header{
	border-bottom:2px solid ;
	text-align:center;
	/*background-color:#2B7A78;*/
	/*margin:0px;
	padding:10px;
	color:#DEF2F1;*/
	color:#3AAFA9;
	padding-bottom:10px;
}

p{
	margin:20px;
	padding:5px;
}

section{
	margin:0px 20px;
	padding:10px;
}

code{

	display:block;
	text-align:left;
	white-space:pre;
	position:relative;
	word-break:normal;
	word-wrap:normal;
	line-height:1;
	background-color:#DEF2F1;
	padding:0px;
	margin:10px;
	color:gray;
	font-size:18px;
	/*border-radius:5px;*/
	/*float:right;
	width:80%;*/
}

h3{
	padding-left:20px;
	font-size:20px;
}



@media only screen and (max-width:650px){
	
	.container{
		width:100%;
		
	}

	nav{
		width:100%;
		height:80px;
			
	}
 
	nav #newNav{

		display:none;
		position:relative;
		margin-top: 61px;
		padding-top:10px;
		background-color:#2B7A78;
		height:400px;
		overflow: scroll;
		font-size:25px;
		padding-bottom: 100px;
	}

	nav #newH{
		width:100%;
		display:flex;
		

	}

	nav #newH header{
		text-align:left;
		padding-top: 25px;
	}

	nav i{
	/*	background-color:#d2dbd8;*/
		padding:27px;

	}



	nav #myBtn{
		width:100%;
		display:flex;
		justify-content: flex-end;
		margin:-67px 1px;
		font-size:28px;
		color:white;

		
		

	}

	nav #myBtn:hover{
		color:silver;
	}

	nav #newNav ul a li{
		padding:0px;
		margin:0px;
	}





/*
	nav .newHeader{
		display:flex;
		justify-content: center;
	}


	nav .newHeader header a{
		
		color:white;
		font-size: 26px;
		padding:0px;
	
	
	}



	nav .newHeader i{
		display:block;
		color:white;
		font-size:30px;
		padding:25px 25px;
	
		
	}

	nav .newHeader i:hover{
		color:red;
	}

	

	nav .newNav{
		height:400px;
		overflow-y:auto;
		padding:0;
		margin:0;
	}
*/

	#main-doc{
		
		width:100%;
		margin-top:100px;
			
	}

	#main-doc header{
		margin-top:100px;
	}

	#main-doc #firstHeaderOnSmallScreen{
		margin-top:0px;

	}
	

	#main-doc p{
		font-size:18px;
	}

	code{
		position:static;
		font-size: 14px;

	}






} 




@media only screen and (min-width:650px){

	
		nav #myBtn{
			display:none;
		}



}


@media only screen and (min-width:1300px){

	.container{	
	max-width:1300px;
	
	}

	#navbar{	
	width:400px;
	}





}
