*{
	font-family:arial, sans-serif;
	margin:0; 
}

.container{
	width:100%;
}

nav{
	margin:0;
	height:100%;
	float:left;
	width:30%;
	position:fixed;
	margin-left:0px; 
	margin-right:0px;
	overflow:scroll;
}

nav #newH{
	padding:10px;
	color:#DEF2F1;
	font-size:30px;
	text-align:center;
	background-color:#2B7A78;

	
}



nav #newNav{
	
	background-color:#DEF2F1;	
}

nav a{
	color:#2B7A78;
	padding:0px 10px;
	text-decoration:none;
}

nav #newNav ul{
	padding:20px;
}

nav #newNav li{
	list-style-type:none;
	padding:5px;
}

nav #newNav a:hover{
	color:gray;
	text-decoration: underline;	
}


#main-doc{
	margin:0;
	float:right;
	width:70%;
	padding-bottom:20px;
	background-color:#FEFFFF;
	color:gray;
}

#main-doc section{
	margin:0px 30px;
	padding:10px;

}

#main-doc section header{
	border-bottom:2px solid ;
	text-align:center;
	color:#3AAFA9;
	padding-bottom:10px;
	font-size:26px;
	padding:10px 0px;
}

section .section-text{
	margin:20px 0px;
}
section .section-text p{
	padding:7px 0px;
	font-size:16px;
	line-height:1.3;
}

section .section-text ul{
	font-size:16px;
}

section .section-text h3{
	padding:40px 0px 20px 0px;
	font-size:20px;

}

section .code-section{
	margin:20px 0px;
	display:flex;
	flex-direction: column;
}

section .code-section h4{
	
	font-size:16px;;
	padding:11px;
	background-color:#DEF2F1;
	overflow-x:auto;
}

section .code-section code{

	display:block;
	text-align:left;
	white-space:pre;
	word-break:normal;
	word-wrap:normal;
	line-height:1.5;
	color:gray;
	font-size:16px;
	justify-content: center;
	border-bottom: solid 3px #DEF2F1;
	border-right: solid 3px #DEF2F1;
	border-left: solid 3px #DEF2F1;
}

footer{
	width:100%;
	height:100px;
	background-color:red;
}



@media only screen and (max-width:650px){
	.container{
		width:100%;	
		display:flex;
		flex-direction: column;	
	}

	nav{
		width:100%;
		height:80px;
		overflow:visible;	
	}


	.nav-bar{ 
	  position: fixed;
	  top: 0;
	  transition: all 300ms ease-in-out;

	}

	.hideNav{

		transform: translateY(-80px);

	}

	nav #newNav{
		display:none;
		position:relative;
		margin-top: 78px;
		padding-top:10px;
		background-color:#DEF2F1;
		font-size:20px;
		padding-bottom: 10px;
	}

	nav #newH{
		width:100%;
		display:flex;
		margin-left:0px;
		padding:0px 0px 0px 10px;
		background-color:#2B7A78;
		font-size:26px;
		position:-webkit-sticky;	

		

	}

	nav #newH header{
		text-align:left;
		padding:20px 0px;
	}

/*	nav i{
		background-color:#d2dbd8;
		padding:11px 30px;
	}*/

	nav #myBtn{
		width:100%;
		display:flex;
		justify-content: flex-end;
		margin:-52px -25px;
		font-size:26px;
		color:#DEF2F1;
	}

	nav #myBtn:hover{
		color:white;
	}

	nav #newNav ul{
		padding-top:0px;
	}

	nav #newNav ul a li{
		padding:0px;
		margin:0px;
	}

	#main-doc{
		width:100%;
		padding-top:80px;	
	}
		
	#main-doc p{
		font-size:18px;
	}

	#main-doc .code-section code{
		/*position:static;*/
		font-size:16px;
		overflow-x:auto;
	}


} 
	#main-doc a{
		poistion:relative;
		z-index:1;
	}




@media only screen and (min-width:650px){

	
	nav #myBtn{
		display:none;
	}


}




@media only screen and (min-width:1300px){

	.container{	
	max-width:1300px;
	
	}

	#navbar{	
	width:400px;
	}
}
